/* Variables */
/* $purple: #C665EE;
$green: #1DD05D; */
/* Article page styles */
.block-26 .ArticleMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .block-26 .ArticleMenu a:hover {
    font-weight: 500;
    color: #485FE5; }

.block-26 .SocialArticle {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.block-26 .quote_block {
  background: #F2F3FF;
  border-radius: 10px; }

.block-26 .article-author {
  border-radius: 50%; }

@media (max-width: 991.98px) {
  .block-26 .ArticleMenu {
    top: 20px;
    width: 150%;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transform: translateX(-25%);
    -ms-transform: translateX(-25%);
    transform: translateX(-25%); }
  .block-26 .SocialArticle {
    top: 20px;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%); } }

@media (max-width: 767.98px) {
  .block-26 .ArticleMenu {
    top: 20px;
    width: auto;
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .block-26 .SocialArticle {
    top: auto;
    position: relative; } }
