/* Variables */
/* $purple: #C665EE;
$green: #1DD05D; */
/* Contacts page styles */
.block-30 .js-ajax-form .ErrorMessage {
  display: none;
  color: #FA4A69; }

.block-30 .js-ajax-form.error input[type="text"]#email {
  border: 1px solid #FA4A69; }

.block-30 .js-ajax-form.error .ErrorMessage {
  display: block; }
