/* Variables */
/* $purple: #C665EE;
$green: #1DD05D; */
/* Features page styles */
.block-14 .slider-4 .slick-list {
  overflow: visible; }

.block-14 .slider-4 .slick-track {
  overflow: visible;
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.block-14 .slider-4 .slick-slide {
  border-radius: 10px 10px 0 0;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer; }
  .block-14 .slider-4 .slick-slide.slick-current, .block-14 .slider-4 .slick-slide:hover {
    background: white;
    color: #000000; }

@media (max-width: 767.98px) {
  .block-14 .slider-4 .slick-track {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .block-14 .slider-4 .slick-slide {
    width: 50% !important; } }

@media (max-width: 767.98px) {
  .block-14 .slider-4 .slick-slide {
    width: 80% !important; } }
