/* Variables */
/* $purple: #C665EE;
$green: #1DD05D; */
/* How it works page styles */
.block-8 .play-btn {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.block-9 .img-block-9 {
  border-radius: 10px;
  background: #F2F3FF; }
  .block-9 .img-block-9 img {
    border-radius: 6px;
    -webkit-box-shadow: 0px -6px 71px rgba(0, 0, 0, 0.07);
    box-shadow: 0px -6px 71px rgba(0, 0, 0, 0.07); }

.block-10 form input[type='text'] {
  max-width: 300px; }

.block-10 .block-10-img {
  border-radius: 15px 15px 0 0; }

.block-11 .img-block-11 {
  border-radius: 10px;
  background: #F2F3FF; }
  .block-11 .img-block-11 img {
    border-radius: 6px;
    -webkit-box-shadow: 0px -6px 71px rgba(0, 0, 0, 0.07);
    box-shadow: 0px -6px 71px rgba(0, 0, 0, 0.07); }
