/* Variables */
/* $purple: #C665EE;
$green: #1DD05D; */
/* Pricing page styles */
.block-21 {
  background-image: url(../i/section-21-bg.png);
  background-position: 0% 0%;
  background-repeat: no-repeat;
  background-size: 100% 25%; }
  .block-21 input[type='checkbox'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 !important;
    padding: 3px;
    width: 54px;
    height: 30px;
    border-radius: 30px;
    background: #485FE5;
    cursor: pointer; }
    .block-21 input[type='checkbox']:after {
      content: '';
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: #ffffff;
      display: block;
      -webkit-transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
      -o-transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
      transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2); }
    .block-21 input[type='checkbox']:checked:after {
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%); }
  .block-21 .pricing-block .inner {
    -webkit-box-shadow: 0px 60px 120px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 60px 120px rgba(0, 0, 0, 0.06);
    border-radius: 10px; }
  .block-21.yearly .pricing-block.yearly {
    display: block; }
  .block-21.yearly .pricing-block.monthly {
    display: none; }
  .block-21.monthly .pricing-block.monthly {
    display: block; }
  .block-21.monthly .pricing-block.yearly {
    display: none; }
  @media (min-width: 768px) {
    .block-21 {
      background-size: 100% 26%; } }
  @media (min-width: 992px) {
    .block-21 {
      background-size: 100% 58%; } }
  @media (min-width: 1200px) {
    .block-21 {
      background-size: 100% 61%; } }

.block-22 .OpenRow .OpenRowHeader {
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }

.block-22 .OpenRow .OpenRowInner {
  display: none; }

.block-22 .OpenRow.opened .OpenRowHeader .HeaderSvg {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.block-22 .OpenRow.opened .OpenRowInner {
  display: block; }

@media (max-width: 768px) {
  .block-22 .container {
    overflow: scroll; }
  .block-22 .PriceTable {
    min-width: 720px; }
  .block-22 .btn.medium {
    font-size: 14px; } }

.block-23 .QuestionBlock .QuestionHeader {
  cursor: pointer; }

.block-23 .QuestionBlock .QuestionAnswer {
  display: none; }

.block-23 .QuestionBlock.opened .QuestionHeader .QuestionSvg {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.block-23 .QuestionBlock.opened .QuestionAnswer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
