/* Variables */
/* $purple: #C665EE;
$green: #1DD05D; */
/* Legal Information page styles */
.block-29 .menu-block {
  height: 25px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer; }
  .block-29 .menu-block .menu-header:hover {
    color: #485FE5; }
  .block-29 .menu-block.active {
    height: auto; }
    .block-29 .menu-block.active .menu-inner {
      margin-bottom: 15px; }
  .block-29 .menu-block:last-of-type {
    margin-bottom: 0; }
    .block-29 .menu-block:last-of-type.active {
      margin-bottom: 0; }

.block-29 .menu-inner {
  border-left: 1.5px solid rgba(0, 0, 0, 0.05); }
