@import "variables.scss";

/* Article page styles */

.block-26{
	.ArticleMenu{ 
		position: sticky;
		top: 50%;
		transform: translateY(-50%);
		a{
			&:hover{
				font-weight: 500;
				color: $accent-blue-4;
			}
		}
	}
	.SocialArticle{
		position: sticky;
		top: 50%;
		transform: translateY(-50%);
	}
	.quote_block{
		background: $accent-blue-1;
		border-radius:10px;
	}
	.article-author{
		border-radius: 50%;
	}
	@media(max-width: 991.98px){  
		.ArticleMenu{
			top: 20px;
			width: 150%;
			transform: translateY(0%);
			transform: translateX(-25%);
		}
		.SocialArticle{
			top: 20px;
			transform: translateY(0%);
		}
	}
	@media(max-width: 767.98px){  
		.ArticleMenu{
			top: 20px;
			width: auto;
			transform: translateY(0%);
			transform: translateX(0%);
		}
		.SocialArticle{
			top: auto;
			position: relative;
		}
	}	
}
