@import "variables.scss";

/* Blog page styles */

.block-24{
	.BlogBlockLarge{
		border-radius: 10px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		&:before{
			content:'';
			height: 100%;
			width: 100%;
			position: absolute;
			top:0;
			right:0;
			bottom:0;
			left:0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0.67) 0%, rgba(14, 14, 14, 0.57) 51.56%, rgba(31, 31, 31, 0.62) 99.99%, rgba(0, 0, 0, 0.35) 100%);
		}
	}
}

.block-25{
	.BlogMenu{
		.BlogMenuContainer{
			border-bottom: 2px solid $grey-dark-3;			
			.BlogMenuItem{
				cursor: pointer;
				color: $grey-dark-3;
				&.active{
					color: $accent-blue-4;
					position: relative;
					&:after{
						content:'';
						position: absolute;
						bottom: -2px;
						left:50%;
						transform: translateX(-50%);
						background: $accent-blue-4;
						height: 2px;
						width: 100%;
					}					
				}
			}
		}
	}
	.BlogContainer{
		.BlockBlog{
			width: 33.33333%;
			&[data-item-num="4"], &[data-item-num="5"], &[data-item-num="9"], &[data-item-num="10"], &[data-item-num="14"], &[data-item-num="15"]{
				width: 50%;
			}
		}
	}
}