@import "variables.scss";

/* Contacts page styles */

.block-30{
	.js-ajax-form{
		.ErrorMessage{
			display: none;
			color: $accent-red-4;
		}
		&.error{
			input[type="text"]{
				&#email{
					border: 1px solid $accent-red-4;
				}
			}
			.ErrorMessage{
				display: block;
			}			
		}
	}
}
